

body{
    background: linear-gradient(180deg, rgba(2,0,36,1) 21%, rgba(157,14,238,1) 68%, rgba(75,134,226,1) 100%, rgba(0,212,255,1) 100%);
    background-size: auto 100vh;
    background-repeat: no-repeat;
}

    
   a{
    text-decoration: none;
    color: black;
   }

   a:hover {
    text-decoration: underline;
   }

 .menu{
    
    border-radius: 10px;
    background-color: white;
    opacity: 0.3;
   
}

.menu:hover{
 opacity: 1;
 transition: 1s;
 transition-delay: 0;
}


.menu ul {
       display: flex;
       justify-content: space-around;
    }
.menu li{
       list-style: none;
       font-family: 'Balsamiq Sans', cursive;
   }

.site-title, .site-subtitle{
    color: whitesmoke;
    text-align: center;
   }

.site-subtitle{
    font-style: italic;
}