/* Soft Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
 text-decoration: none;
 color: black;
}

a:hover {
 text-decoration: underline;
}

body{
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-family: 'Roboto Mono', monospace;

    background: linear-gradient(45deg, rgb(132, 93, 240) 50%, rgba(0,212,255,1) 100%);
    background-size: 200% 200%;
    background-repeat: no-repeat;
    animation: colors 8s ease infinite;
  }

  @keyframes colors {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }


/*Breakpoints */
@media(min-width:0px){
    body{
        font-size: 10px;
    }

}

@media(min-width:600px){
    body{
        font-size: 14px;
    }
}

@media(min-width:800px){
    body{
        font-size: 16px;
    }

}
header{
    display:flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
    

 .menu{
    position:fixed;
    border-radius: 10px;
    background-color: white;
    opacity: 0.7;
    width: 90vw;
    top:0;
    margin-top: 5px;
  
   
   
}

.menu:hover{
 opacity: 1;
 transition: 1s;
 transition-delay: 0;
}


.menu ul {
       display: flex;
       justify-content: space-around;
    }
.menu li{
       list-style: none;
       font-family: 'Roboto', sans-serif;
   }

   .menu a{
    display: block;   
    padding:10px;
    font-size: 1.1em;
    font-family: 'Roboto Mono', monospace;
   }

   .site-title{
    font-family: 'Caveat', cursive;
   }

.site-title, .site-subtitle{
    color: whitesmoke;
    text-align: center;
    margin:10px;
   }


.site-subtitle{
    font-style: italic;
    font-family: 'Fredoka One', cursive;

}


.title{
    border:solid 1px;
    border-color: white;
    padding: 5px;
    
    font-size: 2em;
    border-radius: 20px;
    
}

.title:hover{
    transition: 1s;
    transform: rotate(360deg) ;
   
    
}

/*Paginas e sections*/
.about-me, .contact {
    Display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
    
}
.about-me h2 , .contact h2{
    font-family: 'Merienda One', cursive;
    margin: 1em; 
   
}
.about-me content, .contact content {
    width: 90%;
    height: 100%;
    background-color: white;
    border: solid black 0.5px;
    border-radius: 20px;;
    opacity: 0.8;
    margin:2em;
    padding: 1em;
}

.about-me figure{
    margin:1.4em;
    text-align: center;
}  

.about-me .grid{  
display: grid;
gap:2em;

}

@media(min-width: 560px){
    .about-me .grid{  
        display: grid;
        gap:2em;
        grid-template-columns: 30vw 45vw ;
}
}
.img-aboutme {
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: left bottom;
    border-radius: 100%;
  }

  

  .personal-inf{
      display: flex;
      flex-direction: column;
      justify-content: center;
     
  }
  .name p{
     margin-bottom: 1em;
     font-size: 2em;
   
  }


  .exp-bkg ul{
    margin: 1em 0em 0em 3em  ;
    
  }

  .exp-bkg, .personal-interests{
    padding: 1em;
    border: solid black 1px;
    margin-top: 1em;
    border-radius: 1em;
  }

  .personal-interests ul{
    margin: 1em 0em 0em 3em  ;

  }

 